{
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all",
  "semi": true,
  "endOfLine": "lf",
  "proseWrap": "always",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": true
}
